section.cards
	h1 Рабочий стол
	.cards__content
		- for (var i=0; i < 6; i++)
			.card
				.card__top
					.card__total 5 100.02
					// .card__wallet &#8381;
					.card__wallet
						+icon('ruble-gray')
				.card__body
					.card__text Баланс
				
				.card__bottom
					a(href="#").btn Подробнее