aside.sidebar
	header.sidebar__top
		button(type="button").sidebar__burger
			+icon('burger')
		a(href="#").sidebar__logo
			img(src="img/logo.svg" alt="alt")
	

	- var menu = [{name: 'Транзакции', icon: 'trans'}, {name: 'Профиль', icon: 'profile'}, {name: 'Настройки', icon: 'setts'}, {name: 'Выплаты', icon: 'payments'}];
	
	.sidebar__body
		nav.menu
			ul.menu__list
				each item, i in menu
					li.menu__item
						a(href="#").menu__link
							span.menu__icon
								+icon(item.icon)
							span.menu__value= item.name
main.main
	include ../_sections/header
	.main-content
		block content
	include ../_sections/footer