/*--------------------adjustment----------------------*/
*,
*::before,
*::after{
	box-sizing: border-box;
}

html{
	font-size: math.div($rootFontSize, 16px) * 100%;
}
html, body{
	margin: 0;
	padding: 0;
	min-height: 100%;
}
body{
	font-family: $reg;
	font-weight: normal;
	font-size: rem($baseFontSize);
	min-width: rem($minWidth);
	position: relative;
	// line-height: 1.6;
	-webkit-font-smoothing: antialiased;
	overflow-x: hidden;
	color: $text;
	background-color: #203852;

	.lock & {
		overflow: hidden;
		touch-action: none;
		overflow-behavior: none;
	}
}
.sidebar{
	position: fixed;
	left: 0;
	top: 0;
	height: 100%;
	background-color: #fff;
	width: rem(300);
	background-color: $acc-dark;
	transition: all .2s;
}
.sidebar__top {
	display: flex;
	align-items: center;
	column-gap: rem(16);
	padding: rem(16) rem(16) rem(20) rem(48);
}
.sidebar__burger {
	@include but-null();
	width: rem(44);
	height: rem(44);
	display: flex;
	align-items: center;
	justify-content: center;
	flex-shrink: 0;
}
.icon {}
.icon-burger {}
.sidebar__logo {
	width: 121px;

	img{
		display: block;
		width: 100%;
	}
}
.menu {}
.menu__list {}
.menu__item {
	list-style-type: none;

	&.active{
		.menu__link {
			@include vertical-grad(#213953, #1B2D41);

			&:before{
				display: block;
			}
		}

	}
}
.menu__link {
	position: relative;
	display: flex;
	align-items: center;
	// flex-direction: row-reverse;
	column-gap: rem(11);
	padding: rem(18) rem(18) rem(18) rem(50);
	font-family: $med;
	text-decoration: none;
	transition: all .2s;

	&:before{
		content: '';
		display: none;
		position: absolute;
		left: rem(5);
		top: 0;
		width: rem(3);
		height: 100%;
		background-color: $accent;
	}

	@media (any-hover: hover) { //только для устройств с ховером
			cursor: pointer;
			&:hover{
				@include vertical-grad(#213953, #1B2D41);

				&:before{
					display: block;
				}

			}
		}


	.icon{
		font-size: rem(20);
	}
	.icon-payments {
		font-size: rem(16);
	}
}
.menu__icon{
	flex-shrink: 0;
	width: rem(20);
}
.icon-trans {}
.icon-profile {}
.icon-setts {}
// компенсация ширины скроллбара при появлении ванильных поапов
// все содержимое страницы оборачивается в #wrapper-for-scroll-fix
// использовать совместно с libs-vanilla/service-functions/scrollWidth.js 

// #wrapper-for-scroll-fix{
// 	overflow: hidden;
// }
// #wrapper-for-scroll-fix.modal-open {
//     padding-right: var(--scroll-width);
// }
// .header { // в случае position: fixed у хедера
//    .modal-open &{
//     	padding-right: var(--scroll-width);
//    }
// }
// .modal__container{//компенсация сдвига модалки при анимации исчезновения
// 	margin-left: var(--scroll-width);
//   .modal-open & {
//   	margin-left: 0;
//   }

// }
// END компенсация ширины скроллбара при появлении ванильных поапов


// Прижать футер к низу

html, body{
	height: 100%;
}
.main{
	padding-left: rem(300);
	display: flex;
	flex-direction: column;
	min-height: 100%;
	overflow: hidden;
	transition: padding-left .2s;

	@supports(overflow: clip){
		overflow: clip;
	}

	& > *{
		min-width: 0;
	}

	.header{
		flex: 0 0 auto;
	}
	.main-content{
		flex: 1 1 auto;
	}
	.footer{
		flex: 0 0 auto;
		// margin-top: auto;
	}
}

// END Прижать футер к низу

// стиль для отключения скролла стр-цы. при помощи libs-vanilla/service-functions/scrollDisable.js
// .disable-scroll {
// 	position: relative;
// 	overflow: hidden;
// 	height: 100vh;
// 	position: fixed;
// 	left: 0;
// 	top: 0;
// 	width: 100%;
// }
a{
	color: inherit;
}
img{
	vertical-align: top;
}
ul, li{
	margin: 0;
	padding: 0;
}
h1,h2,h3,h4,h5,h6{
	margin: 0;
	font-weight: inherit;
	font-size: inherit;
}
p{
	margin: 0;
}
input
input[type="text"],
input[type="email"],
input[type="tel"],
textarea{
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
}
.input,
input{
	border-radius: 0;
	outline: none;
	display: block;
	width: 100%;
	border: 0 none;
}
textarea{
	resize: none;
	padding: 0 0;
}
//END input
.wrapper{
	margin: 0 auto;
	padding-left: math.div($containerPaddings, 2) + px;
	padding-right: math.div($containerPaddings, 2) + px;
	max-width: $maxContainerWidth + px;
	// @include row-flex();
	// @include wrapper();
}

[class*="__wrapper"]{
	margin: 0 auto;
	padding-left: rem(math.div($containerPaddings, 2));
	padding-right: rem(math.div($containerPaddings, 2));
	max-width: rem($maxContainerWidth);
	// outline: 1px solid;

}
// classes for smartgrid(c) structure
// .wrapper-smart{
// 	@include wrapper();
// }
// .wrapper-flex{
// 	@include row-flex();
// }
// .column{
// 	@include col();
// 	@include size(1);	
// }

.hidden{
	display: none !important;
}

.ibg{
background-position: center; 
background-size: cover; 
background-repeat: no-repeat; 
position: relative;
padding-bottom: 52.25%;
}

.ibg img{
	width: 100%; 
	height: 100%; 
	position: absolute; 
	top: 0; 
	left: 0; 
	opacity: 0; 
	// visibility: hidden;
}
._prod-img {
	position: relative;
	padding-bottom: 80%;
	img{
		@include absolute-center;
	}
}
._fit{
	padding-bottom: 80%;
	position: relative;
}
._fit ._fit-img{//_fit - class for object-fit
	width: 100%;
	height: 100%;
	position: absolute;
	left: 0;
	right: 0;
	object-fit: cover; 
	object-position: center center;
}

.bd-filter-fallback{// определение поддержки блюра без джаваскрипт
	@supports (backdrop-filter: blur(10px)) or (--webkit-backdrop-filter: blur(10px)){// определение поддержки блюра без джаваскрипт
			background-color: rgba(255, 255, 255, .72);
			backdrop-filter: blur(31px);
		}
}
// tabs-pure base styles
// .tabs__buttons{
// 	display: flex;
// }
// .tabs__container{
// }
// .tab-content,
// .tabs__buttons li{
// 	list-style-type: none;
// }
// .tab{
// 	text-decoration: none;
// 	display: block;
// 	&.active{
// 		background-color: pink;
// 	}
// }

// показ спойлеров на определенном разрешении. Включать только при установленном аттрибуте data-breakpoint="" у .accordion
// .accordion:not(.combine){
// 	.accordion__content.hidden{
// 		@include min-screen($md){
// 			display: block;
// 		}
// 	}
// }

// service ui elements styles
// @import "_misc/_tabs-accordion";
// @import "_misc/_form";
// @import "_misc/font-rating";//подключить, если для звез рейтинга исп-я. icomoon
// @import "_misc/_rating";
// @import "_misc/_noUiSlider-base";
// @import "_misc/_counter";
// @import "_misc/multilevel-dropdown.scss";

// исправление бага отсутствия прозрачности при fade--переходах с/у слайдами
// .swiper-container-fade{
// 	.swiper-slide{
// 		transition: opacity .5s !important;
// 	}
// }
/*--------------------END adjustment----------------------*/ 