.form__label {
	display: block;

	&:not(:last-child){
		margin-bottom: rem(24);
	}
}
.form__input {
	height: rem(47);
	padding-left: rem(24);
	padding-right: rem(24);
	background-color: #213004;
	border: 1px solid $accent;
	border-radius: rem(10);
	@include placecolor(rgba(#fff, 0.5));
	color: rgba(#fff, 0.5);
	font-family: $light;
	font-size: rem(16);
	text-align: center;


	&[readonly]{
		background-color: transparent;
		@include vertical-grad(rgba(#6485A8, .2), rgba(#20364E, .2));
		color: #939EAB;
	}
}

.form__custom-policy {
	display: flex;
	align-items: center;
	color: rgba(#fff, .5);
}
.form__custom {
	position: relative;
	flex-shrink: 0;
	margin-right: rem(16);
}
.form__check {
	@include checkbox;
	&:checked + .form__custom-chek {
		&:before{
			display: block;
		}
	}
}
.form__custom-chek {
	display: block;
	position: relative;
	width: rem(18);
	height: rem(18);

	.icon{
		width: rem(18);
		height: rem(18);
	}

	@media (any-hover: hover) { //только для устройств с ховером
				&:hover{
				cursor: pointer;
			}
		}
	&:before{
		@include absolute-center-old;
		display: none;
		width: rem(6);
		height: rem(6);
		background-color: #fff;
		content: '';
	}
}
.form__area-label{
	display: block;
	margin-bottom: rem(16);
}
.form__area{
	padding: 0;
	width: 100%	;
	height: rem(49);
	padding-left: rem(24);
	padding-right: rem(24);
	padding-top: rem(14);
	padding-bottom: rem(14);
	background-color: #213004;
	border: 1px solid $accent;
	border-radius: rem(10);
	@include placecolor(rgba(#fff, 0.5));
	color: rgba(#fff, 0.5);
	font-family: $light;
	font-size: rem(16);
	text-align: center;
	outline: none;
	overflow: hidden;
}
.form__policy {

}

// иконка глаза для скрытия пароля
// gist - "password input eye"

.eye-ico{
	width: rem(24);
	height: rem(24);
	position: relative;
	@include but-null();
	position: absolute;
	bottom: rem(12);
	right: rem(20);

	.icon{
		@include absolute-center;
		font-size: rem(14);
	}

	&.unblind{
		.eye-ico__show{
			display: block;

		}
		.eye-ico__hide{
			display: none;

		}
	}

	.eye-ico__show{
		display: none;
	}
}