@mixin star-rating($baseColor: #000, $activeColor: gold, $ratingStarWidth: 10, $ratingStarGap: 5, $icomoon: false) {
//статичный звезный рейтинг без возможности выбора полтзователем
// $ratingStarWidth - ширина и высота отдельной звезды (передавать в миксин в px!!)
// $ratingStarGap - расстояние м/у звездами (передавать в миксин в px!!)
// $icomoon - символ из шрифта icomoon при использовании в роли звездочки кастомной svg-иконки. Передавать в виде строки: '\e900'
	// при отсутствии icomoon - передавать значение  false
	$kef: 1.4;
  
  display: flex;
  width: rem($ratingStarWidth + $ratingStarGap) * 5;
  margin-left: rem(math.div(-$ratingStarGap, 2));
  margin-right: rem(math.div(-$ratingStarGap, 2));
  font-size: rem($ratingStarWidth) * $kef;
  
  &__star{
    flex: 0 0 calc(20% - rem($ratingStarGap));
    margin: 0 rem(math.div($ratingStarGap,2));
    height: rem($ratingStarWidth);
    display: block;
    position: relative;
    
    &:before{
      display: block;
      color: $baseColor;
      // position: absolute;
      @if $icomoon != false { 
      		content: $icomoon;
      		font-family: 'rating' !important;
			    speak: never;
			    font-style: normal;
			    font-weight: normal;
			    font-variant: normal;
			    text-transform: none;
			    -webkit-font-smoothing: antialiased;
			    -moz-osx-font-smoothing: grayscale;

  		}@else{
      		content: '★';

  		}
      line-height: rem($ratingStarWidth);
      // left: 50%;
      // transform: translateX(-50%);
    }
    &.active{
      &:before{
        color: $activeColor;
        // для использования с кастомной иконкой вместо шрифтового символа
     //  	color: transparent;
     //  	background-image: url(https://lh5.googleusercontent.com/-DZ5jyR2NRfk/AAAAAAAAAAI/AAAAAAAAACk/I8BNLS9vfCs/photo.jpg?sz=50);
	    // background-size: contain;
	    // background-repeat: no-repeat;
      }
    }
  }
}
@mixin simple-rating($baseColor: #000, $activeColor: gold, $ratingStarWidth: 20px, $ratingStarGap: 5px, $icomoon: false) {
	//звезный рейтинг с возможностью выбора пользователем по клику, только целые числа
	// $ratingStarWidth - ширина и высота отдельной звезды (передавать в миксин в px!!)
	// $ratingStarGap - расстояние м/у звездами (передавать в миксин в px!!)
	// $icomoon - символ из шрифта icomoon при использовании в роли звездочки кастомной svg-иконки. Передавать в виде строки: '\e900'
	$kef: 1.4;
	display: flex;
	width: rem($ratingStarWidth + $ratingStarGap) * 5;
	margin-left: rem(math.div(-$ratingStarGap ,2));
	margin-right: rem(math.div(-$ratingStarGap ,2));
	flex-direction: row-reverse;
	font-size: rem($ratingStarWidth) * $kef;
	label{
		width: calc(20% - rem($ratingStarGap));
		// flex: 0 0 calc(20% - #{$ratingStarGap});//старый вариант
		margin: 0 rem(math.div($ratingStarGap, 2));
		height: rem($ratingStarWidth);
		display: block;
		position: relative;
		&:before{
			display: block;
			width: 100%;
			// margin: 0 -7px;
			position: absolute;
			@if $icomoon != false { 
      		content: $icomoon;
      		font-family: 'rating' !important;
			    speak: never;
			    font-style: normal;
			    font-weight: normal;
			    font-variant: normal;
			    text-transform: none;
			    -webkit-font-smoothing: antialiased;
			    -moz-osx-font-smoothing: grayscale;

  		}@else{
      		content: '★';
  		}
			line-height: rem($ratingStarWidth);
			left: 50%;
			transform: translateX(-50%);
			color: $baseColor;
		}
		&:hover{
			&:before{
				color: $activeColor;
			}
			& ~ label:before{
				color: $activeColor;
				// для использования с кастомной иконкой вместо шрифтового символа
				     // color: transparent;
				     // background-image: url(https://lh5.googleusercontent.com/-DZ5jyR2NRfk/AAAAAAAAAAI/AAAAAAAAACk/I8BNLS9vfCs/photo.jpg?sz=50);
				    // background-size: contain;
				    // background-repeat: no-repeat;
			}
		}

	}
	input{
		position: absolute;
		left: rem(-9999);

		&:checked ~ label{
			&:before{
				color: $activeColor; 
				// для использования с кастомной иконкой вместо шрифтового символа
			     	//color: transparent;
			     	// background-image: url(https://lh5.googleusercontent.com/-DZ5jyR2NRfk/AAAAAAAAAAI/AAAAAAAAACk/I8BNLS9vfCs/photo.jpg?sz=50);
				    // background-size: contain;
				    // background-repeat: no-repeat;
			}
		}
	}

}

@mixin crystal-rating($baseColor: #000, $activeColor: gold, $fontSize: 40, $spacing: 0,  $icomoon: false) {
	// $spacing передавать без 'px'
	// $icomoon - символ из шрифта icomoon при использовании в роли звездочки кастомной svg-иконки. Передавать в виде строки: '\e900'
	  align-items: center;
	  display: flex;
	  position: relative;
	  font-size: rem($fontSize);
	  @if $icomoon != false { 
	  	line-height: 0.8;

  	}@else{
	  	line-height: 0.75;
  	}
	  letter-spacing: rem($spacing);
	  // outline: 1px solid pink;
	  
	  &__body{
	  	position: relative;
	    // width: ($fontSize * 5 * 0.833) + $spacing * 5 * 0.833 + px;
	    // outline: 1px solid;
	    &:before{
	    	display: block;
	    	@if $icomoon != false { 
	    		content: $icomoon $icomoon $icomoon $icomoon $icomoon;
	    		font-family: 'rating' !important;
	    		speak: never;
	    		font-style: normal;
	    		font-weight: normal;
	    		font-variant: normal;
	    		text-transform: none;
	    		-webkit-font-smoothing: antialiased;
	    		-moz-osx-font-smoothing: grayscale;
	    		color: $baseColor;

	    	}@else{
	    		content: '★★★★★';
	    	}
	    }
	  }
	  &__items{
	    position: absolute;
	    display: flex;
	    width: 100%;
	    height: 100%;
	    top: 0;
	    left: 0;
	    
	    input{
	      flex: 0 0 20%;
	      display: block;
	      height: 100%;
	      opacity: 0;
	      margin: 0;
	    }
	  }
		.crystal-rating__active{
		  position: absolute;
		  width: 0;
		  display: block;
		  height: 100%;
		  top: 0;
		  left: 0;
		  transition: width 0.2s ease-in;
		 
		  &:before{
		  	@if $icomoon != false { 
	    		content: $icomoon $icomoon $icomoon $icomoon $icomoon;
	    		font-family: 'rating' !important;
	    		speak: never;
	    		font-style: normal;
	    		font-weight: normal;
	    		font-variant: normal;
	    		text-transform: none;
	    		-webkit-font-smoothing: antialiased;
	    		-moz-osx-font-smoothing: grayscale;

	    	}@else{
	    		content: '★★★★★';
	    	}
		    position: absolute;
		    display: block;
		    height: 100%;
		    width: 100%;
		    top: 0;
		    left: 0;
		    color: $activeColor;
		    overflow: hidden;
		  }
		}
		.crystal-rating__value{
		  display: inline-block;
		  font-size: .7em;
		  margin-left: rem(15);
		  letter-spacing: normal;
		}
}
// .star-rating{
// 	@include star-rating(red, gold, 50, 20, false);
// }
// .simple-rating{
	// @include simple-rating(#000, gold, 50px, 30px, false);
// 	@include simple-rating(red, gold, 35, 25, false);
// }
// .crystal-rating{
// 	@include crystal-rating(gray, gold, 50, 8, false);
// }
// для кастомизации иконки звездочек можно использовать шрифт Icomoon (https://icomoon.io/app/#/select)
// 1. экспортировать иконку в .svg
// 2. На https://icomoon.io/app/#/select создать шрифт из одной этой иконки, получить архив с иконочным шрифтом
// 3. содержимое архива положить в fonts/rating-font
// 4. В sass/misc/adjustment расскомментировать:
	// @import "_misc/font-rating";
	// @import "_misc/_rating";