.icon {
	display: inline-block;
	width: 1em;
	height: 1em;
	fill: currentColor;
}

.icon-burger {
	font-size:(12/10)*1rem;
	width:(18/12)*1em;
}
.icon-payments {
	font-size:(18/10)*1rem;
	width:(22/18)*1em;
}
.icon-profile {
	font-size:(18/10)*1rem;
	width:(18/18)*1em;
}
.icon-setts {
	font-size:(24/10)*1rem;
	width:(22/24)*1em;
}
.icon-trans {
	font-size:(22/10)*1rem;
	width:(22/22)*1em;
}
