/*--------------------ui----------------------*/
h1{
  margin-bottom: rem(48);
  font-family: $bold;
  font-size: rem(32);
}
h2{
  margin-bottom: rem(24);
  font-family: $bold;
  font-size: rem(32);
  color: $accent;
}
.sect-top {
  margin-bottom: rem(48);
  text-align: center;
}
.sect-note {
  max-width: rem(550);
  margin-left: auto;
  margin-right: auto;
  font-family: $med;

  @include max-screen($sm){
    font-family: $reg;
  }

  @include max-screen($xss){
    max-width: rem(260);
  }
}
.border{
  border-radius: rem(40) 0 rem(40) 0;
  border: rem(1) solid $accent;
}
.btn{

  @include but-null;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  height: rem(55);
  flex-shrink: 0;
  border: none;
  color: #0B0D0B;
  text-decoration: none;
  background-color: $accent;
  padding: rem(5) rem(32) rem(10) rem(32);
  font-size: rem(20);
  font-family: $light;
  line-height: 1;
  border-radius: rem(40) 0 rem(40) 0;
  text-align: center;
  position: relative;
  outline: none;
  transition: background-color .1s ease;
	
  // &:hover{
  //    background-color: lighten($accent, 5%);
  // }

@media (any-hover: hover) { //только для устройств с ховером
		cursor: pointer;
		&:hover{
   	 		background-color: lighten($accent, 5%);

		}
	}

  &-empty{
    background-color: transparent;
    color: $accent;
    border: rem(1) solid $accent;
  }

  &-dark{
    background-color: transparent;
    color: #fff;
    @include vertical-grad(#213953, #1B2D41);
  }

//   &:active{
//    background-color: darken($accent, 5%);
//   }
  
//   &-fw{
//    width: 100%;
//   }
   
}

.breadcrumbs {
  margin-top: rem(10);
  padding: 0 rem(16);
  display: flex;
  flex-wrap: wrap;
  align-items: end;
  column-gap: rem(16);

  @include max-screen($xss){
    
    column-gap: rem(3);
  }
}
.breadcrumbs__item {
  list-style-type: none;
  position: relative;

  @include max-screen($xss){
    display: none;
  }
 
  &:not(:last-child){
    &:after{
      content: '/';
      margin-left: rem(16);
      // vertical-align: middle;
      font-family: $light;
      color: #909CA8;

      @include max-screen($xss){
        margin-left: rem(3);
      }
    }
  }

  &:last-child{
    .breadcrumbs__link {
      color: $accent;
    }
    @include max-screen($xss){
      display: block;
    }
  }


  &:nth-last-child(2){
    @include max-screen($xss){
      display: block;
      
    }
    @include min-screen($xss){
      display: none;
      
    }
  }

  // &:not(:last-child),
  // &:not(:nth-last-child(2)){
  //   @include max-screen($xss){
  //     display: none;
  //   }
  // }
}
.breadcrumbs__link {
  text-decoration: none;
  color: #909CA8;
  font-family: $light;
}
.pagination{
  @include pagination($width: 40, 
  $gap: 8, 
  $fontSize: 14, 
  $round: 0, 
  $color: $text, 
  $bg: transparent, 
  $activeColor: #051930, 
  $activeBg: $accent,
  $arrowColor: $text);

  padding: rem(24) 0;

  @include max-screen($xss){
    display: none;
  }

  .pagination__link{
    aspect-ratio: 40/37;
    height: auto;
    text-decoration: none;
    border-radius: rem(4);
    font-family: $light;
  }
  .pagination__arrow{
    flex-shrink: 0;
    width: rem(40);
    aspect-ratio: 40/37;
    display: flex;
    align-items: center;
    justify-content: center;
    @include vertical-grad(#213953, #1B2D41);
     border-radius: rem(4);

    .icon{
      width: rem(5);
    }
  }
}
.fstdropdown > .fstlist{
  border-radius: rem(20);
  background-color: $acc-dark;
  color: #fff;
  left: rem(-1);
}
.fstdiv.open{
  z-index: 10;
}
.fstdropdown.open:hover{
  outline: none;
  box-shadow: none;
  border-color: $accent;
}
.fstlist>div{
  padding: rem(16) rem(16) rem(16) rem(48);
  border-bottom-color: #0A1F36;
  font-family: $med;
}
.fstlist>div.selected{
  background-color: transparent;
  @include vertical-grad(rgba(#6485A8, .2), rgba(#20364E, .2));
  color: #fff;
}
.fstdropdown>.fstselected:after{
  right: rem(19);
  border-color: #fff transparent transparent;
}
/*--------------------END ui----------------------*/ 