/*--------------------transactions-table----------------------*/

.ellipse--trans{
	@include max-screen($sm){
		display: none;
	}
}
.transactions__table {
	margin-right: rem(-24);
	// overflow-x: hidden;

	@include max-screen($sm){
		margin-right: 0;
	}
	@include min-screen($sm){
		overflow-x: auto;
		
	}
	// .adm-table__body{
	// 	.adm-table__col{
	// 		&:nth-child(4){
	// 			@include min-screen($sm){
	// 				@include dots-family();
					
	// 			}

	// 			.adm-table__val{
	// 				@include max-screen($sm){
	// 					word-break: break-word;
	// 				}
	// 				@include min-screen($sm){
	// 					@include dots-family();
						
	// 				}
	// 			}

	// 		}
	// 	}
	// }

	.adm-table--transactions{
		// overflow-x: auto;
		// min-width: rem(2248);
		.ellipse{
			@include min-screen($sm){
				display: none;
			}
		}
	}
	.adm-table__header{
		.adm-table__row{
			align-items: stretch;

		}
	}
	.adm-table__row{
		@include min-screen($sm){
			padding: 0;
			border-bottom: none;
			
		}
	}
	.adm-table__col{
		@include min-screen($sm){
			
			padding: rem(17) rem(5);
			border-bottom: rem(1) solid $accent;
		}

		&:first-child{
			@include min-screen($sm){
				flex: 0 0 rem(120);
				
			}
		}

		&:nth-child(2){
			@include min-screen($sm){
				flex: 0 0 rem(200);
				
			}
			
		}
		&:nth-child(3){
			@include min-screen($sm){
				flex: 0 0 rem(236);
				
			}
			.adm-table__caption{
				@include max-screen($xs){
					flex: 0 0 rem(120);
				}
			}
		}
		&:nth-child(4){
			@include max-screen($xs){
				display: block;
			}

			@include min-screen($sm){
				flex: 0 0 rem(270);
				
			}

			.adm-table__caption{
				@include max-screen($xs){
					margin-bottom: 12px;
				}
			}

		}
		&:nth-child(5){
			@include max-screen($xs){
				display: block;
			}

			@include min-screen($sm){
				flex: 0 0 rem(270);
				
			}

			.adm-table__caption{
				@include max-screen($xs){
					margin-bottom: 12px;
				}
			}
		}
		&:nth-child(6){
			@include max-screen($xs){
				display: block;
			}

			@include min-screen($sm){
				flex: 0 0 rem(208);
				
			}

			.adm-table__caption{
				@include max-screen($xs){
					margin-bottom: 12px;
				}
			}
		}
		&:nth-child(7){
			@include max-screen($xs){
				display: block;
			}

			@include min-screen($sm){
				flex: 0 0 rem(208);
				
			}

			.adm-table__caption{
				@include max-screen($xs){
					margin-bottom: 12px;
				}
			}
		}
		&:nth-child(8){
			@include max-screen($xs){
				display: block;
			}

			@include min-screen($sm){
				flex: 0 0 rem(270);
				
			}
			.adm-table__caption{
				@include max-screen($xs){
					margin-bottom: 12px;
				}
			}
		}
		&:nth-child(9){
			@include max-screen($xs){
				display: block;
			}

			@include min-screen($sm){
				flex: 0 0 rem(270);
				
			}

			.adm-table__caption{
				@include max-screen($xs){
					margin-bottom: 12px;
				}
			}
			.adm-table__val{
				word-break: break-word;
			}
		}
		&:nth-child(10){

			@include max-screen($xs){
				display: block;
			}

			@include min-screen($sm){
				flex: 0 0 rem(270);
				
			}

			.adm-table__caption{
				@include max-screen($xs){
					margin-bottom: 12px;
				}
			}
		}
		&:nth-child(11){
			@include max-screen($sm){
				justify-content: flex-start;
				padding-top: rem(24);
			}
			@include min-screen($sm){
				flex: 0 0 rem(350);
				
			}
		}

	}
}
/*--------------------END transactions-table----------------------*/ 